Repository badarsebard/pyden-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_pyden_splunk, build_pyden_selenium

.gitlab-ci.yml:

stages:
  - build
  - test
  - package
  - deploy

build_pyden_splunk:
  stage: build
  image: docker
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY/badarsebard/pyden-suite/pyden-splunk:latest -f splunk.dockerfile .
    - docker push $CI_REGISTRY/badarsebard/pyden-suite/pyden-splunk:latest
  only:
    changes:
      - scripts/splunk_docker_prep.sh
      - splunk.dockerfile

build_pyden_selenium:
  stage: build
  image: docker
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY/badarsebard/pyden-suite/pyden-selenium:latest -f selenium.dockerfile .
    - docker push $CI_REGISTRY/badarsebard/pyden-suite/pyden-selenium:latest
  only:
    changes:
      - scripts/selenium_docker_prep.sh
      - selenium.dockerfile

execute_test_suite:
  stage: test
  image: $CI_REGISTRY/badarsebard/pyden-suite/pyden-selenium:latest
  services:
    - name: $CI_REGISTRY/badarsebard/pyden-suite/pyden-splunk:latest
      alias: pyden-splunk
  variables:
    SPLUNK_PASSWORD: "changeme1"
    SPLUNK_START_ARGS: "--accept-license"
  script:
    - cd $CI_PROJECT_DIR
    - python3 test/auto.py

appinspect:
  stage: package
  image: python
  script:
    # first two lines are needed because when gitlab clones the repo it does so with a different set of permissions
    - find src -type d -exec chmod 0755 {} +
    - find src -type f -exec chmod 0644 {} +
    - tar -czvf pyden.tgz -C src pyden
    - tar -czvf pyden-manager.tgz -C src pyden-manager
    - scripts/submit-app.sh pyden
    - pyden_failures=$(echo $?)
    - scripts/submit-app.sh pyden-manager
    - manager_failures=$(echo $?)
    - x=$(( $pyden_failures + $manager_failures ))
    - if [[ $x -gt 0 ]]; then echo "There were $x failures in apps."; exit 1; fi
  artifacts:
    when: always
    paths:
      - pyden.html
      - pyden-manager.html
      - pyden.tgz
      - pyden-manager.tgz
  only:
    - tags
    - master

splunkbase:
  stage: deploy
  image: pyhton
  variables:
    SUPPORTED_VERSIONS: "7.2,7.3"
  script:
    - curl -u ${SPLUNK_CREDS} --request POST https://splunkbase.splunk.com/api/v1/app/4322/new_release/ -F "files[]=@pyden.tgz" -F "filename=pyden.tgz" -F "splunk_versions=${SUPPORTED_VERSIONS}" -F "visibility=true"
    - curl -u ${SPLUNK_CREDS} --request POST https://splunkbase.splunk.com/api/v1/app/4323/new_release/ -F "files[]=@pyden-manager.tgz" -F "filename=pyden-manager.tgz" -F "splunk_versions=${SUPPORTED_VERSIONS}" -F "visibility=true"
  only:
    - tags

initial test bed complete. should now be ready for the 8.0 branch
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/test_environments.py
  test/test_pypi.py
  test/test_versions.py
Due: none

attempt to attach splunk logs as artifact of ci job
  .gitlab-ci.yml
  scripts/splunk_local_config.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

attempt to attach splunk logs as artifact of ci job
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/est_pypi.py
  test/est_versions.py
Due: none

attempt to attach splunk logs as artifact of ci job
  scripts/splunk_local_config.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

attempt to attach splunk logs as artifact of ci job
  .gitlab-ci.yml
  scripts/splunk_docker_prep.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: build_pyden_splunk

attempt to attach splunk logs as artifact of ci job
  scripts/splunk_docker_prep.sh
  scripts/splunk_local_config.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: build_pyden_splunk

remove uid nonsense
  scripts/splunk_docker_prep.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: build_pyden_splunk

set up for simultaneous testing of 7.3 and 8.0.
  .gitlab-ci.yml
  docker-compose.yml
  scripts/splunk_docker_prep.sh
  scripts/splunk_local_config.sh
  splunk.dockerfile
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/tests.yml
Due: build_pyden_splunk

tag mix up
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

allow more time for service to come up.
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: none

added appinspect script for local runs (requires an environment variable to use). redid setup page cause that got deprecated from appinspect apparently. added some config items needed for cloud cert.
  .gitignore
  scripts/appinspect.sh
  src/pyden-manager/appserver/static/pyden_setup.css
  src/pyden-manager/appserver/static/pyden_setup.js
  src/pyden-manager/appserver/static/pyden_setup_view.js
  src/pyden-manager/bin/pyden_setup_handler.py
  src/pyden-manager/bin/utils.py
  src/pyden-manager/default/app.conf
  src/pyden-manager/default/commands.conf
  src/pyden-manager/default/data/ui/views/pyden_setup.xml
  src/pyden-manager/default/restmap.conf
  src/pyden-manager/default/setup.xml
  src/pyden-manager/default/transforms.conf
  src/pyden/default/app.conf
Due: none

removed vagrant directory since docker is in place, stable, and needed for the selenium testing. increment app version in prep for release.
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  vagrant/scripts/add_peer.sh
  vagrant/scripts/bootstrap_captain.sh
  vagrant/scripts/config_deployer.sh
  vagrant/scripts/config_shcluster.sh
  vagrant/scripts/provision.sh
  vagrant/scripts/start-splunk.sh
  vagrant/search-indexer/Vagrantfile
  vagrant/shc-indexer/Vagrantfile
  vagrant/single-server/Vagrantfile
Due: none

updated docs, shifted test yaml location. tests will now only trigger on changes to the test or src folders.
  .gitlab-ci.yml
  README.md
  docs/release-notes/v1.3.0.md
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/tests.yml
Due: none

remove needs since it fails unless the docker builds are run.
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

bug fix in final stage. changed placeholder to value in setup page.
  .gitlab-ci.yml
  src/pyden-manager/appserver/static/pyden_setup_view.js
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

activation is now triggered by importing activate script and utilizes the pyden.conf file to grab the correct executable. as a requirement, each script will need its own stanza in pyden.conf.
  src/pyden-examples/bin/activate.py
  src/pyden-examples/bin/activate_default.py
  src/pyden-examples/bin/whoami.py
  src/pyden-examples/bin/whoami2.py
  src/pyden-examples/default/commands.conf
  src/pyden-examples/default/pyden.conf
  src/pyden-manager/default/app.conf
  src/pyden/README.md
  src/pyden/bin/activate.py
  src/pyden/bin/activate_default.py
  src/pyden/default/app.conf
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

add in some things for pytest-html reporting
  requirements.txt
  scripts/selenium_docker_prep.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
  test/conftest.py
  test/drivers/splunk.py
  test/test_environments.py
Due: build_pyden_selenium
