Repository badarsebard/pyden-suite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_pyden_splunk, build_pyden_selenium

build_pyden_splunk:
  stage: build
  image: docker
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY/badarsebard/pyden-suite/pyden-splunk:latest -f splunk.dockerfile .
  ...

build_pyden_selenium:
  stage: build
  image: docker
  services:
  - docker:dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $CI_REGISTRY/badarsebard/pyden-suite/pyden-selenium:latest -f selenium.dockerfile .
  ...

quick touchup to address a delta between compose file and gitlab ci
  .gitlab-ci.yml
  docker-compose.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: none

have a few tests and splunk test actions. pushing to see how gitlab CI handles it.
  scripts/splunk_docker_prep.sh
  src/pyden-manager/bin/create_dist.py
  src/pyden-manager/bin/create_venv.py
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/conftest.py
  test/drivers/splunk.py
  test/test_pyden.py
Due: build_pyden_splunk

quick save
  .gitlab-ci.yml
  scripts/splunk_docker_prep.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
  test/conftest.py
  test/drivers/splunk/__init__.py
  test/test_pyden.py
Due: build_pyden_splunk

should see a good run through off tests
  .gitlab-ci.yml
  docker-compose.yml
  requirements.txt
  scripts/selenium_docker_prep.sh
  scripts/splunk_ansible_prep.yml
  scripts/splunk_docker_prep.sh
  scripts/splunk_telemetry_config.sh
  selenium.dockerfile
  splunk.dockerfile
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/__init__.py
  test/auto.py
  test/conftest.py
  test/drivers/splunk.py
  test/test_pyden.py
Due: build_pyden_splunk, build_pyden_selenium

should see a good run through off tests... again...
  docker-compose.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

add artifacts to output
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

add artifacts to output
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/drivers/splunk.py
Due: none

was missing local configs for pyden
  scripts/splunk_telemetry_config.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

ok, maybe now
  .gitlab-ci.yml
  scripts/splunk_ansible_prep.yml
  scripts/splunk_local_config.sh
  splunk.dockerfile
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: build_pyden_splunk

error in docker file, retrying
  splunk.dockerfile
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: build_pyden_splunk

adding gitattributes file
  .gitattributes
  .gitignore
Due: none

nicer execution of pytest for use with pytest-sugar. clean up artifacts folder prior to execution. add teardown script to help with local reruns of the compose file.
  screenshots/.gitkeep
  scripts/selenium_docker_prep.sh
  scripts/teardown.sh
  test/auto.py
Due: build_pyden_selenium

error in docker file, retrying
  .gitignore
  .gitlab-ci.yml
  docker-compose.yml
  requirements.txt
  screenshots/.gitkeep
  scripts/selenium_docker_prep.sh
  scripts/splunk_docker_prep.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: build_pyden_splunk, build_pyden_selenium

hey maybe install docker while trying to pull this off
  scripts/selenium_docker_prep.sh
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: build_pyden_selenium

hmmmm
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: none

blarglesnap
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

blarglesnap
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: none

ok, looks like this is stable now
  docker-compose.yml
  setup.cfg
  src/pyden-manager/bin/create_dist.py
  src/pyden-manager/bin/create_venv.py
  src/pyden-manager/bin/pydelete.py
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/conftest.py
  test/drivers/splunk.py
  test/test_environments.py
  test/test_pyden.py
  test/test_versions.py
Due: none

restricting parallel tests to compose file
  docker-compose.yml
  setup.cfg
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

redid tests to run in order as compiling python several times is much slower than the time saved running in parallel. especially given gitlab shared runners are on a single core.
  docker-compose.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/test_environments.py
  test/test_versions.py
Due: none

reorganizing to try and get the html results of searches for direct manual comparison of failing assertions in gitlab. all tests passing in compose locally.
  .gitignore
  .gitlab-ci.yml
  screenshots/.gitkeep
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/drivers/splunk.py
Due: none

didn't gitignore correctly
  .gitignore
  artifacts/results/.gitkeep
  artifacts/screenshots/.gitkeep
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

adding verbose the check on test order
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: none

ugh, typo
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: none

trying to remove xdist package in the hope of fixing issue
  requirements.txt
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

adding docker tag for testing local runner
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

arbitrary wait to see if it helps /shrug
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/test_environments.py
Due: none

add in some time for ci, i think gitlab isn't waiting until the splunk container hits a healthy state
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
Due: none

adding in some steps to take more screenshots to help troubleshoot. also cleaned up artifacts directory so it's not needed in repo.
  .gitlab-ci.yml
  artifacts/results/.gitkeep
  artifacts/screenshots/.gitkeep
  scripts/selenium_docker_prep.sh
  splunk.dockerfile
  src/pyden-manager/bin/create_venv.py
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
  test/conftest.py
  test/test_environments.py
Due: build_pyden_splunk, build_pyden_selenium

adding in some steps to take more screenshots to help troubleshoot. also cleaned up artifacts directory so it's not needed in repo.
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: none

adding in some steps to take more screenshots to help troubleshoot. also cleaned up artifacts directory so it's not needed in repo.
  splunk.dockerfile
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
Due: build_pyden_splunk

adding in some steps to take more screenshots to help troubleshoot. also cleaned up artifacts directory so it's not needed in repo.
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/conftest.py
Due: none

bump ui to 10 minute limit for gitlab.com. also, all the tests seem to have started working, arg. might remove the extraneous steps but for now they stay in case it's "fixing" the issue.
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/test_versions.py
Due: none

ok, looks like maybe the issue was not sufficiently rebuilding the docker images frequently enough. setting to rebuild every time and removed extraneous test commands.
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/test_environments.py
Due: none

missed a ui test limit, maybe don't need to constantly rebuild docker images like i thought.
  .gitlab-ci.yml
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/test_versions.py
Due: none

configure testing locally with docker compose and gitlab for remote testing. also created a base set of tests.
  .gitignore
  .gitlab-ci.yml
  docker-compose.yml
  requirements.txt
  scripts/selenium_docker_prep.sh
  scripts/splunk_docker_prep.sh
  setup.cfg
  splunk.dockerfile
  src/pyden-manager/bin/create_dist.py
  src/pyden-manager/bin/create_venv.py
  src/pyden-manager/bin/pydelete.py
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
  test/conftest.py
  test/drivers/splunk.py
  test/test_environments.py
  test/test_pyden.py
  test/test_versions.py
Due: build_pyden_splunk, build_pyden_selenium

added tests. all passed.
  requirements.txt
  scripts/docker_cleanup.sh
  scripts/selenium_docker_prep.sh
  src/pyden-manager/bin/create_venv.py
  src/pyden-manager/default/app.conf
  src/pyden/default/app.conf
  test/auto.py
  test/drivers/splunk.py
  test/test_environments.py
Due: build_pyden_selenium

Path conditions:
  build_pyden_splunk: any of: scripts/splunk_docker_prep.sh, splunk.dockerfile
  build_pyden_selenium: any of: scripts/selenium_docker_prep.sh, selenium.dockerfile
